/*======================= colors =======================*/
/*======================= text =======================*/
$darkTextColor: #303030;
$secondDarkTextColor:#53514C;
$thirdDarkTextColor:#2E2E32;
$whiteTextColor:#FFFFFF;
$grayTextColor:#939393;
$grayWhiteTextColor:#F5F3FD;
$darkGrayTextColor:#928598;
$redTextColor:#E3073C;
/*======================= ui =======================*/
$darkGray: #DFDDE0;
$darkPurple:#422051;
$purple:#910CE3;
$lightPurple:#B44AF5;
$pink:#EF97FE;
$red:#F3065B;
$skeletonGray:#EDEFF3;