/*======================= colors =======================*/
/*======================= text =======================*/
$darkTextColor: #303030;
$secondDarkTextColor: #53514c;
$thirdDarkTextColor: #2e2e32;
$whiteTextColor: #ffffff;
$grayTextColor: #939393;
$grayWhiteTextColor: #f5f3fd;
$darkGrayTextColor: #928598;
$redTextColor: #e3073c;
/*======================= ui =======================*/
$secondGray: #dedee1;
$darkGray: #dfdde0;
$darkPurple: #422051;
$purple: #910ce3;
$lightPurple: #b44af5;
$pink: #ef97fe;
$red: #f3065b;
$skeletonGray: #edeff3;
